__pycache__/
.pytest_cache/
.venv/
*.pyc
node_modules/

# Terraform
infra/github/.terraform/
infra/github/.terraform.lock.hcl
infra/github/terraform.tfvars
infra/github/terraform.tfstate*

# mcp
.serena
